<h1>Browse Scooters</h1>

<form action="/search">
  <input name="q" type="text" placeholder="Search by postcode" aria-label="Postcode-search">
  <button type="submit" class='btn btn-outline-primary'>Search</button>
</form>

<%= render 'scootercards', listings: @listings %>
