<h1><%=@user.first_name%></h1>

<%= image_tag @user.avatar, class: 'avatar'%>

<h2>Bio</h2>
<p><%=@user.bio%></p>

<% if current_user.id == @user.id %>
<%= link_to "Edit Profile", edit_user_path(current_user), class: 'btn btn-primary' %>
<% end %>