<h1>A Second Life for E-Scooters</h1>
<p>Australia's own electric scooter marketplace</p>
<h2>Browse by category:</h2>
<%= link_to "Off-Road", listings_offroad_path %>
<%= link_to "High-Speed", listings_highspeed_path %>
<%= link_to "Kids Scooters", listings_kids_path %>
<%= link_to "Commuter", listings_commuter_path %>