<!-- (@address.listing.title) this query finds the Address model instance's referenced listing that it has through the 'belongs_to' relationship, then finds the value of the 'title' attribute of that Listing instance.-->
<h1>Edit Address for your listing: "<%= @address.listing.title %>"</h1>

<%= render 'form', address: @address %>

<%= button_to "Remove Address", @address, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"%>